/* dashboard.css */
.budget-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

.budget-card:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.budget-header h4 {
    margin: 0 0 10px 0;
}

.visualization-options {
    display: none; /* Hidden by default, shown on click */
    list-style: none; /* Removes bullet points */
    padding: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 10px; /* Space between header and options */
}

.visualization-options li {
    padding: 5px 0;
}

.visualization-options li button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.visualization-options li button:hover {
    background-color: #0056b3;
}

#sortOrder {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    display: inline-block;
    width: auto;
    max-width: 50%;
    margin-bottom: 20px;
}

.chart-container {
    position: relative;
    height: 40vh;
    width: 80vw;
    display: none; /* Initially hidden */
}

.visualization-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .budget-card {
        margin: 5px;
        padding: 10px;
    }

    .visualization-options li button {
        padding: 6px 12px;
    }

    #sortOrder {
        width: 100%;
    }

    .chart-container {
        width: 100%; 
    }
}

.budget-card canvas {
    width: 100%;  
    height: 300px; /* Ensuring the canvas is properly sized */
}

.budget-info {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Added shadow for consistency */
    margin-top: 10px; /* Space between the options and info */
}

.budget-info h4 {
    margin-bottom: 5px;
}

.budget-info ul {
    list-style-type: none;
    padding: 0;
}

.budget-info li {
    padding: 2px 0;
}