/* dashboard.css */
.budget-card {
    background-color: #ADBBDA;  /* Very Light Blue */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    margin: 10px 0;
    padding: 20px;
    width: 200px;
    transition: box-shadow 0.3s ease;
    position: relative;
}

.budget-card:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}


.budget-header h4 {
    margin: 0 0 10px 0;
    color: #3D52A0; /* Primary Color */
}

.visualization-options {
    display: none;
    list-style: none;
    padding: 0;
    background-color: #EDE8F5; /* Pale Silver */
    border: 1px solid #8697C4; /* Light Blue Gray */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 10px;
}

.visualization-options li {
    padding: 5px 0;
}

.visualization-options li button {
    background-color: #7091E6; /* Lighter Blue */
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.visualization-options li button:hover {
    background-color: #3D52A0; 
}

#sortOrder {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    display: inline-block;
    width: auto;
    max-width: 50%;
    margin-bottom: 20px;
}

.chart-container {
    position: relative;
    height: 40vh;
    width: 80vw;
    display: none; /* Initially hidden */
}

.visualization-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .budget-card {
        margin: 5px;
        padding: 10px;
    }

    .visualization-options li button {
        padding: 6px 12px;
    }

    #sortOrder {
        width: 100%;
    }

    .chart-container {
        width: 100%; 
    }
}

.budget-card canvas {
    width: 100%;  
    height: 300px; /* Ensuring the canvas is properly sized */
}

.budget-info {
    padding: 10px;
    background-color: #EDE8F5; /* Pale Silver */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 10px;
}

.budget-info h4 {
    margin-bottom: 5px;
}

.budget-info ul {
    list-style-type: none;
    padding: 0;
}

.budget-info li {
    padding: 2px 0;
}

.btn {
    flex-direction: column; /* Keeps items vertically aligned */
    align-items: flex-start; /* Aligns items to the left */
    padding: 10px 20px;
    background-color: #3a8dbd;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #254ebd;
}

.create-budget-form {
    background-color: #ADBBDA;  /* Very Light Blue */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.create-budget-form label {
    display: block;
    margin-bottom: 5px;
    color: #3D52A0; /* Primary Color */
}

.create-budget-form input, .create-budget-form button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #8697C4; /* Light Blue Gray */
}

.create-budget-form button {
    background-color: #7091E6; /* Lighter Blue */
    color: white;
    cursor: pointer;
}

.create-budget-form button:hover {
    background-color: #3D52A0; /* Primary Color */
}

.existing-budgets {
    background-color: #EDE8F5; /* Pale Silver */
    padding: 20px;
    border-radius: 8px;
}